{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "**/*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 150,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5"
}
