@import 'tailwindcss';

@font-face {
  font-family: 'DMMono';
  src: url(/fonts/DM_Mono/DMMono-Regular.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMMono';
  src: url(/fonts/DM_Mono/DMMono-Medium.ttf) format('truetype');
  font-weight: bold;
  font-display: swap;
}

@theme {
  --font-sans: 'DMMono', sans-serif;
  --color-pureblue: oklch(0.452 0.313214 264.052);
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
