---
import Gallery from '../components/Gallery.astro'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Hero from '../components/Hero.astro'
import Superhero from '../components/Superhero.astro'
---

<Layout>
  <Superhero />
  <div class="w-full bg-black/95 h-8"></div>
  <Hero />
  <div class="w-full bg-black/95 h-8"></div>
  <Header isHidden={true} />
  <Gallery />
  <Footer />
</Layout>
