---
import Gallery from '../components/Gallery.astro'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
---

<Layout>
  <Header />
  <Hero />
  <div class="w-full bg-slate-950 h-8"></div>
  <Gallery />
</Layout>
