---

---

<section
  id="hero"
  class="h-screen w-full bg-black flex flex-col items-center justify-center snap-start snap-always"
  style="background-image: url('/image5.jpg'); background-size: cover; background-position: center;"
>
  <div class="text-black text-3xl font-semibold">"Some kind of quote"</div>
</section>
