---

---

<footer style="opacity: 0;" class="fixed left-0 md:left-auto bottom-0 right-0 w-full md:w-60 bg-slate-950 z-[200] text-white leading-none">
  <div class="flex items-center justify-center gap-2">
    <span class="text-2xl pt-2">&copy;</span><span class="text-xs"> 2025 Jon Good Photography</span>
  </div>
</footer>
