---
import Nav from '../components/Nav.astro'
import Logo from '../components/Logo.astro'
---

<header id="header" class="flex">
  <div class="w-full max-w-[480px] relative">
    <Logo />
  </div>
  <div class="relative">
    <Nav />
  </div>
</header>
