---
import Nav from "../components/Nav.astro";
import Logo from "../components/Logo.astro";
---

<header class="flex relative">
  <div class="w-full max-w-[480px]">
    <Logo />
  </div>
  <div class="">
    <Nav />
  </div>
</header>
