---

---

<section
  id="hero"
  class="h-screen w-full bg-black flex flex-col items-center justify-center snap-start snap-always"
  style="background-image: url('/image5.jpg'); background-size: cover; background-position: center;"
>
  <div class="text-yellow-400 text-6xl font-bold uppercase mix-blend-difference">"Some kind of quote"</div>
</section>
