---
import { Image } from 'astro:assets'
import logoImage from '../assets/logo.svg'
import logoImageSquare from '../assets/logo-square.svg'
---

<a href="/#gallery" id="logo">
  <Image src={logoImage} alt="Jon Good Photography" height={60} loading="eager" class="hidden lg:block" />
  <Image src={logoImageSquare} alt="Jon Good Photography" height={70} loading="eager" class="block lg:hidden" />
</a>
