---
import { Image } from 'astro:assets'
import logoImage from '../assets/Logo.svg'
---

<h1 class="fixed top-5 left-10 mix-blend-difference font-heading font-black text-pureblue z-20">
  <Image src={logoImage} alt="Jon Good Photography" width={450} loading="eager" />
</h1>
