---
import { Image } from 'astro:assets'
import logoImage from '../assets/logo.svg'
---

<a href="/#gallery" id="logo" class="bg-pureblue">
  <Image src={logoImage} alt="Jon Good Photography" height={100} loading="eager" />
</a>
