---
const pathname = Astro.url.pathname
---

<nav id="nav" class="">
  <ul class="flex flex-col lg:flex-row gap-6 py-4 px-8">
    <li>
      <a href="/#gallery" class:list={['text-pureblue text-lg underline-offset-4', { underline: pathname === '/' }]}>Home</a>
    </li>
    <li>
      <a href="/about" class:list={['text-pureblue text-lg underline-offset-4', { underline: pathname === '/about' || pathname === '/about/' }]}
        >About</a
      >
    </li>
    <li>
      <a href="/contact" class:list={['text-pureblue text-lg underline-offset-4', { underline: pathname === '/contact' || pathname === '/contact/' }]}
        >Contact</a
      >
    </li>
  </ul>
</nav>
