---
import { Image } from 'astro:assets'
import MenuIcon from '../assets/menu-icon.svg'
---

<button id="menu-button" title="Menu button" class="cursor-pointer lg:hidden">
  <Image src={MenuIcon} alt="Menu" class="w-9 h-9" />
</button>
<nav class="hidden lg:block absolute top-16 left-0 bg-white z-50 w-full lg:static lg:bg-inherit lg:top-auto lg:right-auto">
  <ul class="flex lg:flex-row flex-col gap-4 py-4 px-8">
    <li>
      <a href="/" class="text-pureblue text-lg">Home</a>
    </li>
    <li>
      <a href="/about" class="text-pureblue text-lg">About</a>
    </li>
    <li>
      <a href="/contact" class="text-pureblue text-lg">Contact</a>
    </li>
  </ul>
</nav>

<script>
  const menuButton = document.getElementById('menu-button')
  const menu = document.querySelector('nav')

  menuButton?.addEventListener('click', () => {
    menu?.classList.toggle('hidden')
  })

  window.addEventListener('click', (e) => {
    if (!menu?.contains(e.target as Node) && !menuButton?.contains(e.target as Node)) {
      menu?.classList.add('hidden')
    }
  })
</script>
