---
const pathname = Astro.url.pathname
const linkClasses = 'block lg:w-auto text-center lg:text-left text-pureblue text-lg underline-offset-4'
---

<nav id="nav" class="w-full lg:w-auto">
  <ul class="flex flex-col lg:flex-row gap-6 py-4 px-8">
    <li class="w-full lg:w-auto">
      <a href="/#gallery" class:list={[linkClasses, { underline: pathname === '/' }]}>Home</a>
    </li>
    <li class="w-full lg:w-auto">
      <a href="/about" class:list={[linkClasses, { underline: pathname === '/about' || pathname === '/about/' }]}>About</a>
    </li>
    <li class="w-full lg:w-auto">
      <a href="/contact" class:list={[linkClasses, { underline: pathname === '/contact' || pathname === '/contact/' }]}>Contact</a>
    </li>
  </ul>
</nav>
