---

---

<section
  id="superhero"
  class="h-screen w-full bg-black flex flex-col items-center justify-center snap-start snap-always"
  style="background-image: url('/image5.jpg'); background-size: cover; background-position: center;"
>
  <h1 class="text-white text-9xl font-bold">JON<span class="text-6xl">•</span>GOOD</h1>
  <div class="text-white text-3xl">Photography</div>
</section>
