---

---

<section
  id="superhero"
  class="h-screen w-full bg-black flex flex-col items-center justify-center snap-start snap-always bg-[url('/image5.jpg')] bg-cover bg-center"
>
  <div class="w-full h-[150px] md:h-[255px] bg-[url('/logo-repeat.svg')] bg-right md:bg-center bg-cover md:bg-contain bg-repeat-x"></div>
</section>
