---
import BaseHead from '../components/BaseHead.astro'

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="bg-white overflow-x-hidden pb-[env(safe-area-inset-bottom)] pt-[env(safe-area-inset-top)] pl-[env(safe-area-inset-left)] pr-[env(safe-area-inset-right)]"
  >
    <main class="mx-auto overflow-y-scroll snap-mandatory snap-y h-screen">
      <slot />
    </main>
  </body>
</html>
