---
import BaseHead from '../components/BaseHead.astro'

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-white overflow-x-hidden">
    <main class="mx-auto overflow-y-scroll snap-mandatory snap-y h-screen">
      <slot />
    </main>
  </body>
</html>
